# Игнорировать временные файлы Windows
Thumbs.db
*.tmp
*.bak

# Игнорировать IDE и редакторы
.vscode/
*.suo
*.user
*.log

# Игнорировать папку build
/build/
/docs/

# Игнорировать конфиденциальные файлы
settings.txt
accounts.txt
README.md